<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.demoConnectionString" connectionString="Data Source=PC-201503141046;Initial Catalog=demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.aspConnectionString" connectionString="Data Source=localhost;Initial Catalog=asp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>